$default-font: "HelveticaNeue", sans-serif;

/* colors */

$text: #6e768f;

/* measurements units */

$borderRadius: 4px;

/* fonts */

$smallerFont: 0.857em; // 12px
$biggerFont: 1.143em; // 16px

/* paths */

$imagePath: "../img";
